@charset "utf-8";
/* CSS Document */
@font-face { font-family: 'Star Jedi';
             src: url('font/Starjedi.ttf') format('truetype'); }
@font-face { font-family: 'Roboto';
             src: url('font/Roboto-Regular.ttf') format('truetype'); }
body{
	background-image: url("img/bg.jpg");
	background-size: cover;
	color:white;
	font-family: Roboto;
	padding: 0 100px;
}
h1{
	margin-top: 100px;
	text-align: center;
	font-family: Star Jedi;
}
h2{
	font-family: Star Jedi;
}
a{
	color: white;
}
a:hover{
	color:#FFE81F;
	text-decoration: none;
}