* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Univers";
  src: url("/font/UniversCom-57Condensed.ttf") format("tff"),
}
html {
  font-size: 10px;
}

body {
  font-family: Univers, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: white;
  background-color: #83B81A;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  margin-bottom: 8rem;
  font-size: 10rem;
}

.startScreen {
  margin: auto;
  text-align: center;
}

.conversation {
  margin-top: 20vh;
  margin-bottom: 5rem;
}

.startScreen,
.conversation {
  display: none;
  width: 70vw;
  max-width: 1440px;
}

.active {
  display: block;
}

.active.conversation {
  display: flex;
}
.conversation__intro {
  width: 100%;
}

.conversation__intro button {
  text-align: center;
}

.conversation__messages {
  width: 100%;
}


button {
  margin: 1rem;
  padding: 4.5rem 4.5rem;
  transition: 0.5s;
  background: #00844D;
  cursor: pointer;
  color: white;
  border: 5px solid white;
  border-radius: 400px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: uppercase;
  letter-spacing: 0.2rem;
}
button.endButton{
	padding: 1.5rem 1.5rem;
	border: 3px solid white;
}
button:hover {
  transform: scale(1.1);
  text-decoration: none;
}

button:focus {
  outline: none;
}

.userInput,
.userOutput {
  display: block;
  width: 65%;
  margin-top: 3rem;
  padding: 2.5rem 4rem;
  border: 3px solid white;
  border-radius: 3rem 3rem 3rem 0;
  min-height: 10rem;
  transition: 0.5s;
  background-color:#00844D;
  float: left;
}
.userInput{
  padding: 2.5rem 4rem;
  border: 3px solid black;
  border-radius: 3rem 3rem 0rem 3rem;
  background-color: white;
  color: black;
  float:right;
}
