* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: white;
  background-color: #83B81A;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  margin-bottom: 8rem;
  font-size: 10rem;
}

.startScreen {
  margin: auto;
  text-align: center;
}

.conversation {
  margin-top: 20vh;
  margin-bottom: 5rem;
}

.startScreen,
.conversation {
  display: none;
  width: 70vw;
  max-width: 1440px;
}

.active {
  display: block;
}

.active.conversation {
  display: flex;
}
.conversation__intro {
  width: 50%;
}

.conversation__intro button {
  text-align: center;
}

.conversation__messages {
  width: 50%;
}

button {
  background-image: linear-gradient(
    to right,
    #089C88 0%,
    #00844D 51%,
    #089C34 100%
  );
}
button {
  margin: 1rem;
  padding: 4.5rem 4.5rem;
  transition: 0.5s;
  background-size: 200% auto;
  
  color: white;
  border: 5px solid white;
  border-radius: 400px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: uppercase;
  letter-spacing: 0.2rem;
}
button.endButton{
	padding: 1.5rem 1.5rem;
	border: 3px solid white;
}
button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.userInput {
  margin-left: auto;
  background-image: linear-gradient(
    to right,
    #1d976c 0%,
    #93f9b9 51%,
    #1d976c 100%
  );
}

.userOutput {
  background-image: linear-gradient(
    to right,
    #089C88 0%,
    #00844D 51%,
    #089C34 100%
  );
}
.userInput,
.userOutput {
  display: block;
  width: 65%;
  margin-top: 3rem;
  padding: 2.5rem 4rem;
  border: 3px solid white;
  border-radius: 3rem 3rem 3rem 0;
  min-height: 10rem;
  transition: 0.5s;
  background-size: 200% auto;
}
.userInput{
  display: block;
  width: 65%;
  margin-top: 3rem;
  padding: 2.5rem 4rem;
  border: 3px solid white;
  border-radius: 3rem 3rem 0rem 3rem;
  min-height: 10rem;
  transition: 0.5s;
  background-size: 200% auto;
}
.userOutput:hover,
.userInput:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}